@import './text.css';

:root {
	color-scheme: light dark;

	--content-max-width: 960px;
	--layout-gutter: clamp(8px, 2vw, 24px);

	--color-primary: light-dark(env(--color-light-primary), env(--color-dark-primary));
	--color-secondary: light-dark(env(--color-light-secondary), env(--color-dark-secondary));
	--color-tertiary: light-dark(env(--color-light-tertiary), env(--color-dark-tertiary));
	--color-accent: light-dark(env(--color-light-accent), env(--color-dark-accent));
	--color-text: light-dark(env(--color-dark-primary), env(--color-light-primary));
}

html {
	font-size: 0.0625rem; /* 1rem = 16px so it 1px to 0.0625rem */
}

body {
	position: relative;
	margin: 0;
	font-family: env(--font-sans);
	background: var(--color-primary);
	color: var(--color-text);
	transition:
		background env(--transition-base),
		color env(--transition-base);
	--max-width: min(100vw - (2 * var(--layout-gutter)), var(--content-max-width));
	font-size: 16rem;
}

.grid {
	display: grid;
	grid-template-columns: repeat(env(--grid-columns-mobile), 1fr);
	gap: env(--grid-gap-mobile);

	@media (--md) {
		grid-template-columns: repeat(env(--grid-columns-tablet), 1fr);
		gap: env(--grid-gap-tablet);
	}

	@media (--lg) {
		grid-template-columns: repeat(env(--grid-columns-desktop), 1fr);
		gap: env(--grid-gap-desktop);
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
	gap: env(--space-md);
}

.chip {
	border: 1px solid var(--color-tertiary);
	padding-inline: env(--space-md);
	padding-block: env(--space-sm);
}
