:root {
	color-scheme: light dark;

	--content-max-width: 960px;
	--layout-gutter: clamp(8px, 2vw, 24px);

	--color-primary: light-dark(env(--color-light-primary), env(--color-dark-primary));
	--color-secondary: light-dark(env(--color-light-secondary), env(--color-dark-secondary));
	--color-tertiary: light-dark(env(--color-light-tertiary), env(--color-dark-tertiary));
	--color-accent: light-dark(env(--color-light-accent), env(--color-dark-accent));
	--color-text: light-dark(env(--color-dark-primary), env(--color-light-primary));
}

body {
	position: relative;
	margin: 0;
	font-family: env(--font-sans);
	background: var(--color-primary);
	color: var(--color-text);
	transition:
		background env(--transition-base),
		color env(--transition-base);
	--max-width: min(100vw - (2 * var(--layout-gutter)), var(--content-max-width));
}

.app-content {
	width: var(--max-width);
	margin-inline: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: env(--font-sans);
}
